html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
input, textarea, select, button { font-weight:inherit; font-size:100%; font-family:inherit;}
table { border-collapse:collapse; border-spacing:0;}
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight: normal;}
svg:not(:root) { overflow:hidden;}
q:before, q:after { content:'';}
strong { font-weight:bold;}
fieldset, img { border:0;}
th { text-align:inherit;}
li { list-style:none;}
:focus { outline:0;}

body { font-size: 14px; line-height: 1.423; font-family: 'PingFang SC',-apple-system-font,Helvetica Neue,sans-serif; color: #000; background: #fff; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a { color: inherit; text-decoration: none;}
img { max-width: 100%; vertical-align: middle;}

@font-face {
    font-family: "Artbrush";
    src: url(../fonts/Artbrush.ttf);
}

.clearfix:before, .clearfix:after { content:" "; display:table;}
.clearfix:after { clear:both;}
.p10 { padding: 10px;}
.orange-bg { background: #FC7D28;}
.yellow-bg { background: #F8B71C;}
.w100 { width: 100%;}
.btn { height: 44px; line-height: 44px; border-radius: 5px; font-size: 18px; font-weight: 500; text-align: center; color: #fff; background: #4AA7CE;}
.block { display: block;}
.fixed-container { position: fixed; z-index: 998; left: 0; right: 0; bottom: 0; top: 0; background: rgba(0,0,0,.6);}
.share-tip { display: none; padding-top: 79px;}
.share-tip .icon-share { top: -6px; width: 25px; height: 25px;}
.no-radius { border-radius: 0;}

.artbrush { font-family: "Artbrush";}
.medium { font-weight: 500;}
.fz20 { font-size: 20px;}
.fz18 { font-size: 18px;}
.fz17 { font-size: 17px;}
.fz15 { font-size: 15px;}
.fz13 { font-size: 13px;}
.fz12 { font-size: 12px;}
.white { color: white;}
.tac { text-align: center;}
.tar { text-align: right;}
.color-medium { color: #222;}
.color-light { color: #888;}
.color-gray { color: #B2B2B2;}

.disabled {background: #88BEF4;}

.icon { display: inline-block; margin-right: 8px; vertical-align: middle; background-repeat: no-repeat; background-size: 100%;}
.icon-arrow-right { width: 6px; height: 9px; margin-left: 6px; background-image: url(../images/icon-arrow-right.png);}
.icon-more { width: 30px; height: 30px; background-image: url(../images/icon-more.png);}
.icon-share { position: relative; top: -2px; width: 16px; height: 16px; background-image: url(../images/icon-share.png);}

.container-info { margin-top: -10px;}
.container-info .box { position: relative; margin-top: 10px; padding: 15px 13px; background: #fff;}
.container-info .box h2 { padding-right: 3em; color: #353535;}
.container-info .box .team-name { padding-bottom: 15px; border-bottom: 1px solid #E5E5E5;}
.container-info .box p { margin-top: 10px;}
.container-info .number { position: absolute; right: 13px; top: 0; font-size: 26px; text-decoration: underline; color: #FC7D28;}
.container-info .number span {font-size: 14px; text-decoration: none !important; font-family: 'PingFang SC',-apple-system-font,Helvetica Neue,sans-serif !important; }
.container-info .avatars { margin-left: -.8vw;}
.container-info .avatars .imgs { position: relative; margin-top: 15px;}
.container-info .avatars img { float: left; width: 9.15%; margin-left: .8vw; border-radius: 2px; box-sizing: border-box;}
.container-info .avatars .supporter-more { position: absolute; right: 0; top: 0; width: 9.15%; padding-top: 9.15%; border-radius: 2px; box-sizing: border-box;}
.container-info .avatars .icon-more { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.container-info .share-box { margin-top: 42px; padding: 10px 15px;}
.container-tip img { width: 93px; margin-top: 50px;}
.container-tip p { margin-top: 25px;}
.container-avatars { margin: 15px; border-radius: 3px; background: #fff;}
.container-avatars p { padding: 10px;}
.container-avatars .imgs { padding: 0 4px; font-size: 0;}
.container-avatars .imgs img { width: 32px; margin-left: 5px; margin-right: 5px; margin-bottom: 10px; border-radius: 50%;}
